.file-container {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .custom-file {
    position: relative;
    display: inline-block;
  }

  .custom-file input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .custom-file-label {
    background-color: #093650;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  #video-preview {
    width: 600px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 14px;
    color: #666;
  }

  
  .image-preview {
    width: 400px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }