body
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
    ;
    min-height: 100vh;
}

header
{
    grid-area: header;
}

aside
{
    grid-area: aside;
}

main
{
    grid-area: main;
}